/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/[photoGroup]/PhotoModal/PhotoModal.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.PhotoModal_container__QBlnc {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100lvh;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
}
.PhotoModal_imageContainer__BBhBx {
  max-height: 80svh;
  max-width: 80vw;
  min-width: 20vw;
}
.PhotoModal_imageContainer__BBhBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.PhotoModal_close__qLZfR {
  position: absolute;
  cursor: pointer;
  top: 100px;
  right: 40px;
  font-size: 2rem;
  font-weight: bold;
}
.PhotoModal_close__qLZfR svg {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 425px) {
  .PhotoModal_close__qLZfR {
    font-size: 1.5rem;
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/[photoGroup]/PhotoGroup.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.PhotoGroup_container__YqFdm {
  padding: calc(60px + 3.6rem) 0 3.6rem;
  min-height: 100svh;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.PhotoGroup_content__IQTdL div {
  cursor: pointer;
}
.PhotoGroup_header__moKeO {
  width: 100%;
  font-size: var(--text-heading);
  font-weight: bolder;
  margin: 3rem;
}
.PhotoGroup_content__IQTdL {
  width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
  columns: 3;
  column-gap: 5px;
}
.PhotoGroup_box__KS5_j {
  width: 100%;
  padding-bottom: 5px;
  page-break-inside: avoid;
  break-inside: avoid;
}
.PhotoGroup_box__KS5_j img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .PhotoGroup_header__moKeO {
    font-size: var(--text-subheading);
    margin-bottom: 1rem;
  }
}
@media (max-width: 425px) {
  .PhotoGroup_content__IQTdL {
    columns: 1;
    column-gap: 10px;
  }
  .PhotoGroup_box__KS5_j {
    margin-bottom: 10px;
  }
  .PhotoGroup_header__moKeO {
    font-size: var(--text-subheading);
  }
}

