.gallery {
  height: 175svh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  padding: 1rem;
  overflow: hidden;
  background: black;
}
.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
}
.column:nth-of-type(1) {
  top: -45%;
}
.column:nth-of-type(2) {
  top: -30%;
}
.column:nth-of-type(3) {
  top: -45%;
}
.column:nth-of-type(4) {
  top: -30%;
}
.imageContainer {
  will-change: transform;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.5vw;
  overflow: hidden;
}
.imageContainer img {
  object-fit: cover;
  filter: brightness(90%);
  transition: all 0.5s var(--ease);
}
.imageContainer:hover img {
  filter: brightness(100%);
  scale: 1.02;
}
.buttonDiv {
  width: 100vw;
}
@media (max-width: 1370px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .column:nth-of-type(4) {
    display: none;
  }
  .column:nth-of-type(1) {
    top: -30%;
  }
  .column:nth-of-type(2) {
    top: -35%;
  }
  .column:nth-of-type(3) {
    top: -30%;
  }
  .imageContainer img {
    filter: brightness(100%);
  }
}
@media (max-width: 1024px) {
  /* .gallery {
    height: 150svh;
  } */
  .column:nth-of-type(4) {
    display: none;
  }
  .column:nth-of-type(1) {
    top: 1%;
  }
  .column:nth-of-type(2) {
    top: -10%;
  }
  .column:nth-of-type(3) {
    top: 1%;
  }
  .imageContainer img {
    filter: brightness(100%);
  }
}
@media (max-width: 768px) {
  .column:nth-of-type(4) {
    display: none;
  }
  .column:nth-of-type(1) {
    top: 0%;
  }
  .column:nth-of-type(2) {
    top: -10%;
  }
  .column:nth-of-type(3) {
    top: 0%;
  }
  .imageContainer img {
    filter: brightness(100%);
  }
}
@media (max-width: 600px) {
  .gallery {
    display: none;
  }
}
