.contactWrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
.contactPhoto {
  width: 400px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}
.contactPhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contactContent {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.insta {
  display: flex;
  flex-direction: row;
}
.heading {
  font-size: var(--text-heading);
  color: var(--text);
  margin-bottom: 2rem;
  line-height: 0.9;
}
.subHeading {
  font-size: var(--text-subheading);
  margin-bottom: 1rem;
}
.subHeading a {
  width: fit-content;
  transition: all 0.5s;
}
.subHeading a:hover {
  color: var(--text);
}

@media (max-width: 1024px) {
  .heading {
    margin-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .contactPhoto {
    width: 300px;
    height: 400px;
  }
  .heading {
    font-size: var(--text-subheading);
  }
  .subHeading {
    font-size: var(--text-description);
  }
}
@media (max-width: 600px) {
  .contactContent {
    padding: 3rem 0;
  }
  .contactWrapper {
    flex-direction: column;
    width: 80vw;
  }
  .contactPhoto {
    height: 300px;
    border-radius: 10px !important;
    background-position: top;
  }
}
@media (max-width: 425px) {
  .heading {
    text-wrap: wrap;
  }
}
