.introduction {
  height: 100lvh;
  width: 100vw;
  font-family: var(--font-raleway-dots);
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.introText {
  text-align: center;
  font-family: inherit;
  color: white;
  font-size: 42px;
  position: relative;
  z-index: 1;
}
.introText img {
  max-height: 50lvh;
  height: auto;
  width: auto;
}

.svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% + 300px);
}

.svg path {
  fill: var(--primary);
}

@media (max-width: 425px) {
  .introText {
    top: -10%;
  }
}